@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset start */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Poppins, Arial, sans-serif;
  background: #3c3c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blinking outline indicator */

.blink {
  border: 4px #ff0000 solid;

  animation: blink 3s infinite;
}

@keyframes blink {
  50% {
    border-color: #fff;
  }
}

/* CSS Reset end */

.box-login {
  flex-shrink: 0;
  background: #ffff;
  border-radius: 5px;
  margin-top: 10vh;
  padding: 20px 10px;
}

h2 {
  text-align: center;
}

.form-groupe {
  position: relative;
}

label {
  margin: 0px 18px;
  font-size: 17px;
  padding: 10px 0 5px 0;
  display: block;
  position: relative;
}

input {
  display: block;
  margin: 0px 20px 20px 15px;
  outline: 0;
  background: rgb(226, 226, 226);
  width: 400px;
  border: 0;
  padding: 10px 12px;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.icone-verif {
  width: 21px;
  position: absolute;
  right: 30px;
  top: 53px;
  display: none;
}

.message-alerte {
  margin: 0px 23px;
  color: crimson;
  display: none;
}

button {
  display: block;
  margin: 30px auto;
  background: rgb(250, 165, 9);
  width: 90%;
  border: 0;
  padding: 15px;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background: rgb(252, 181, 49);
}

button:active {
  background: rgb(250, 165, 9);
}

.ligne {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.l1,
.l2,
.l3 {
  width: 30%;
  height: 5px;
  margin: 15px 5px 20px;
  position: relative;
  display: none;
}
.l1 {
  background: rgb(212, 212, 66);
}
.l2 {
  background: rgb(218, 70, 70);
}

.l3 {
  background: rgb(31, 159, 31);
}

.ligne span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  font-size: 12px;
}
